

  <!-- 公共样式-->
  <link href="../static/css/common.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
 <script src="../static/jquery/jquery.min.js"></script>
 <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
 <script src="../static/bootstrap/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h2> 注册</h2>
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>

    <!-- Login Form -->
    <form action="http://localhost:31717/Owner" method="POST">
      <input type="text" id="username" class="fadeIn second" name="oname" placeholder="姓名">
      <input type="text" id="password" class="fadeIn third" name="osex" placeholder="性别"><br>
      <input type="text" id="password" class="fadeIn third" name="otelephone" placeholder="电话号码"><br>
      <input type="text" id="password" class="fadeIn third" name="oroom" placeholder="门牌号"><br>
      <input type="text" id="password" class="fadeIn third" name="username" placeholder="用户名"><br>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="密码"><br> 
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="login">Already have a account go to login!</a>
    </div>

  </div>
</div>
